/*
 * @Author: Wonder2019 
 * @Date: 2020-08-19 11:20:48 
 * @Last Modified by: Wonder2019
 * @Last Modified time: 2020-08-19 11:27:37
 */
@charset "utf-8";

.editable-div {
	display: inline-block;
	box-sizing: border-box;
	width: 90%;
	height: 2em;
	padding: 0 0.5em;
	border: 1px solid #ccc;
	line-height: 2em;
}

.editable-div:focus{
    outline-color: #66ccff;
}
