/*
 * @Author: Wonder2019 
 * @Date: 2020-04-16 13:22:56 
 * @Last Modified by: Wonder2019
 * @Last Modified time: 2020-04-16 22:41:31
 */
@charset "utf-8";

/*
	ICONFONT
*/

.iconfont {
	margin: 0 0.3em;
}

/*
	TITLEPAGE
*/
.titlepage {
	height: 100%;
	width: 100%;
}

.titlepage > div {
	position: absolute;
}

.title {
	bottom: 2.5em;
	left: 5.18em;
	font-size: 5.6rem;
	color: #fff;
	text-shadow: 0.3rem 0.3rem 0.3rem #000;
}

.tag {
	bottom: 6.83em;
	left: 16.5em;
	color: #000;
	font-size: 1.8rem;
}

/*
	BLOG LIST
*/

.blog-date {
	position: absolute;
	left: -2.6rem;
	top: -2.6rem;
	width: 8rem;
	height: 8rem;
	box-sizing: border-box;
	padding: 1rem;
	border-radius: 8rem;
	background-color: #d84a4a;
	color: #fff;
}

.blog-date-month {
	font-size: 1.7rem;
	line-height: 1em;
}

.blog-date-day {
	font-size: 3.5rem;
	line-height: 1em;
}

.blog-title {
	line-height: 5.4rem;
	text-indent: 0;
	font-size: 3rem;
	color: #000;
}

.blog-cover {
	display: block;
	width: 100%;
	height: 35rem;
	box-sizing: border-box;
	border: 1px solid #ccc;
	margin: 2rem 0;
}

.blog-abstract {
	max-height: 21rem;
	overflow: hidden;
	box-sizing: border-box;
	margin: 1rem auto;
	padding: 1rem 2.3rem;
	line-height: 1.3em;
	text-indent: 3rem;
	text-align: left;
	font-size: 1.8rem;
	font-family: none;
	color: #666;
}

.blog-readmore {
	float: right;
	right: 0;
	bottom: 5rem;
	padding: 0.3rem 1rem;
	border-radius: 1rem;
	background-color: #d84a4a;
	font-size: 1.6rem;
	color: #ffffff;
}

.blog-readnum {
	padding: 0.2rem 1rem;
	border-radius: 1.8rem;
	background-color: #fff;
	color: #d84a4a;
}

/* 
	SetPage
*/
.pagelist {
	font-size: 2.1rem;
	margin: 1em 0;
	text-align: center;
	word-spacing: -0.5em;
	font-weight: 800;
	color: #d84a4a;
}

.setpage {
	display: inline-block;
	height: 2em;
	width: 2em;
	line-height: 2em;
	background-color: rgba(255, 255, 255, 0.67);
}

.pageUp {
	border-radius: 1.2rem 0 0 1.2rem;
}

.pageDown {
	border-radius: 0 1.2rem 1.2rem 0;
}

@media screen and (max-width: 500px) {
	.title {
		bottom: 4.6em;
		left: 1.58em;
		font-size: 3.6rem;
	}

	.tag {
		bottom: 10.23em;
		left: 4em;
		font-size: 1.4rem;
	}

	.blog-date {
		left: -1.7rem;
		top: -1.7rem;
		width: 5rem;
		height: 5rem;
		padding: 0.5rem;
		border-radius: 5rem;
	}

	.blog-date-month {
		font-size: 1rem;
		line-height: 1em;
	}

	.blog-date-day {
		font-size: 2rem;
		line-height: 1em;
	}

	.blog-title {
		line-height: 4rem;
		font-size: 2rem;
	}

	.blog-abstract {
		padding: 0.5rem 1.2rem;
		font-size: 1.4rem;
	}

	.blog-readmore {
		font-size: 1.2rem;
	}

	.pagelist {
		font-size: 1.4rem;
	}
}
