/*
 * @Author: Wonder2019 
 * @Date: 2020-04-16 21:30:17 
 * @Last Modified by: Wonder2020
 * @Last Modified time: 2021-04-21 15:23:53
 */
@charset "utf-8";
body.loading {
	overflow: hidden;
}
.loading-cover {
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: #fff;
	z-index: 201;
}
.loading-animate {
	min-height: 100vh;
	display: flex;
	font-family: "Roboto", Arial;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #eceffc;
}

/* animate */

.running {
	--color: #8a91b4;
	--duration: 0.8s;
	-webkit-transform: scale(var(--scale, 1));
	transform: scale(var(--scale, 1));
}
.running > .outer {
	-webkit-animation: outer var(--duration) linear infinite;
	animation: outer var(--duration) linear infinite;
}
.running > .outer > .body {
	background: var(--color);
	height: 15px;
	width: 8px;
	border-radius: 4px;
	-webkit-transform-origin: 4px 11px;
	transform-origin: 4px 11px;
	position: relative;
	-webkit-transform: rotate(32deg);
	transform: rotate(32deg);
	-webkit-animation: body var(--duration) linear infinite;
	animation: body var(--duration) linear infinite;
}
.running > .outer > .body:before {
	content: "";
	width: 8px;
	height: 8px;
	border-radius: 4px;
	bottom: 16px;
	left: 0;
	position: absolute;
	background: var(--color);
}
.running > .outer > .body > .arm,
.running > .outer > .body > .arm:before,
.running > .outer > .body > .leg,
.running > .outer > .body > .leg:before {
	content: "";
	width: var(--w, 11px);
	height: 4px;
	top: var(--t, 0);
	left: var(--l, 2px);
	border-radius: 2px;
	-webkit-transform-origin: 2px 2px;
	transform-origin: 2px 2px;
	position: absolute;
	background: var(--c, var(--color));
	-webkit-transform: rotate(var(--r, 0deg));
	transform: rotate(var(--r, 0deg));
	-webkit-animation: var(--name, arm-leg) var(--duration) linear infinite;
	animation: var(--name, arm-leg) var(--duration) linear infinite;
}
.running > .outer > .body > .arm:before {
	--l: 7px;
	--name: arm-b;
}
.running > .outer > .body > .arm.front {
	--r: 24deg;
	--r-to: 164deg;
}
.running > .outer > .body > .arm.front:before {
	--r: -48deg;
	--r-to: -36deg;
}
.running > .outer > .body > .arm.behind {
	--r: 164deg;
	--r-to: 24deg;
}
.running > .outer > .body > .arm.behind:before {
	--r: -36deg;
	--r-to: -48deg;
}
.running > .outer > .body > .leg {
	--w: 12px;
	--t: 11px;
}
.running > .outer > .body > .leg:before {
	--t: 0;
	--l: 8px;
}
.running > .outer > .body > .leg.front {
	--r: 10deg;
	--r-to: 108deg;
}
.running > .outer > .body > .leg.front:before {
	--r: 18deg;
	--r-to: 76deg;
}
.running > .outer > .body > .leg.behind {
	--r: 108deg;
	--r-to: 10deg;
	--c: none;
}
.running > .outer > .body > .leg.behind:before {
	--c: var(--color);
	--r: 76deg;
	--r-to: 18deg;
}
.running > .outer > .body > .leg.behind:after {
	content: "";
	top: 0;
	right: 0;
	height: 4px;
	width: 6px;
	-webkit-clip-path: polygon(2px 0, 6px 0, 6px 4px, 0 4px);
	clip-path: polygon(2px 0, 6px 0, 6px 4px, 0 4px);
	border-radius: 0 2px 2px 0;
	position: absolute;
	background: var(--color);
}

@-webkit-keyframes outer {
	50% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	25%,
	75% {
		-webkit-transform: translateY(4px);
		transform: translateY(4px);
	}
}

@keyframes outer {
	50% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	25%,
	75% {
		-webkit-transform: translateY(4px);
		transform: translateY(4px);
	}
}
@-webkit-keyframes body {
	50% {
		-webkit-transform: rotate(16deg);
		transform: rotate(16deg);
	}
	25%,
	75% {
		-webkit-transform: rotate(24deg);
		transform: rotate(24deg);
	}
}
@keyframes body {
	50% {
		-webkit-transform: rotate(16deg);
		transform: rotate(16deg);
	}
	25%,
	75% {
		-webkit-transform: rotate(24deg);
		transform: rotate(24deg);
	}
}
@-webkit-keyframes arm-leg {
	50% {
		-webkit-transform: rotate(var(--r-to));
		transform: rotate(var(--r-to));
	}
}
@keyframes arm-leg {
	50% {
		-webkit-transform: rotate(var(--r-to));
		transform: rotate(var(--r-to));
	}
}
@-webkit-keyframes arm-b {
	30%,
	70% {
		-webkit-transform: rotate(var(--r-to));
		transform: rotate(var(--r-to));
	}
}
@keyframes arm-b {
	30%,
	70% {
		-webkit-transform: rotate(var(--r-to));
		transform: rotate(var(--r-to));
	}
}

.running > * {
	box-sizing: inherit;
}
.running > *::after {
	box-sizing: inherit;
}

/* progress-line */
.loading-prog {
	height: 2.5rem;
	width: 40%;
	margin: 4em auto;
	background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 10px;
	-webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.loading-prog > .loading-line {
	position: relative;
	overflow: hidden;
	height: 2.5rem;
	display: block;
	height: 100%;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background-color: rgb(43, 194, 83);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(43, 194, 83)), color-stop(1, rgb(84, 240, 84)));
	background-image: -moz-linear-gradient(center bottom, rgb(43, 194, 83) 37%, rgb(84, 240, 84) 69%);
	-webkit-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
	box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
	text-align: right;
}

.loading-prog > .loading-line::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-image: -webkit-gradient(
		linear,
		0 0,
		100% 100%,
		color-stop(0.25, rgba(255, 255, 255, 0.2)),
		color-stop(0.25, transparent),
		color-stop(0.5, transparent),
		color-stop(0.5, rgba(255, 255, 255, 0.2)),
		color-stop(0.75, rgba(255, 255, 255, 0.2)),
		color-stop(0.75, transparent),
		to(transparent)
	);
	background-image: -moz-linear-gradient(
		-45deg,
		rgba(255, 255, 255, 0.2) 25%,
		transparent 25%,
		transparent 50%,
		rgba(255, 255, 255, 0.2) 50%,
		rgba(255, 255, 255, 0.2) 75%,
		transparent 75%,
		transparent
	);
	z-index: 1;
	-webkit-background-size: 50px 50px;
	-moz-background-size: 50px 50px;
	background-size: 50px 50px;
	animation: move 2s linear infinite;
	-webkit-animation: move 2s linear infinite;
	-moz-animation: move 2s linear infinite;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomright: 8px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	overflow: hidden;
}

.loading-prog > span > span {
	padding: 0 8px;
	line-height: 2.5rem;
	font-size: 11px;
	font-weight: bold;
	color: #404040;
	color: rgba(0, 0, 0, 0.7);
	text-shadow: 0 1px rgba(255, 255, 255, 0.4);
}

@keyframes move {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 50px 50px;
	}
}

@-webkit-keyframes move {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 50px 50px;
	}
}

@-moz-keyframes move {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 50px 50px;
	}
}
