<!DOCTYPE html>
<html lang="zh_CN">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>编辑菜单</title>
		<link rel="stylesheet" href="/assets/css/reset.css" />
		<link rel="stylesheet" href="/assets/css/imwonder.css" />
		<link th:href="${iconfontUrl}" rel="stylesheet" href="//at.alicdn.com/t/font_1735034_bb7wuginu26.css" />
		<link rel="stylesheet" href="/assets/css/datatable.css" />
		<link rel="stylesheet" href="/assets/css/admin/listMenu.css" />
		<script src="/assets/js/public/jquery-3.4.1.min.js"></script>
		<script src="/assets/js/common/datatable.js"></script>
		<script src="/assets/js/admin/common.js"></script>
		<script src="/assets/js/admin/listMenu.js"></script>
		<script th:inline="JavaScript">
			window._chn = /*[[${_csrf.headerName}]]*/ "cpn";
			window._ctv = /*[[${_csrf.token}]]*/ "cpv";
		</script>
	</head>
	<body>
		<button dt-type="adro" onclick="datatable.add(tbjson,'.table')">添加菜单</button>
		<table class="table">
			<thead>
				<tr>
					<th>序号</th>
					<th>名称</th>
					<th>图标</th>
					<th>权限</th>
					<th>排序</th>
					<th>地址</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="menu,ite : ${lmenu}" th:id="|tb${menu.id}|">
					<td th:text="${ite.count}"></td>
					<td th:text="${menu.name}" edit-type="comtext" edit-key="name"></td>
					<td edit-type="iconfont" edit-key="icon"><span th:class="|iconfont icon-${menu.icon}|"></span></td>
					<td th:text="${menu.perm}" edit-type="comtext" edit-key="perm"></td>
					<td th:text="${menu.order}" edit-type="comtext" edit-key="order"></td>
					<td th:text="${menu.href}" edit-type="comtext" edit-key="href"></td>
					<td>
						<button dt-type="edit" th:onclick="datatable.edit([[${menu.id}]])">编辑</button>
						<button dt-type="dlet" th:onclick="datatable.dlet([[${menu.id}]],[[${menu.name}]])">删除</button>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>
