<!DOCTYPE html>
<html lang="zh_CN">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>管理员登陆</title>
        <link rel="stylesheet" href="../../static/assets/vendors/bootstrap/css/bootstrap.min.css" th:href="@{~/assets/vendors/bootstrap/css/bootstrap.min.css}" />
        <link rel="stylesheet" href="../../static/assets/css/signin.css" th:href="@{~/assets/css/signin.css}" />
    </head>

    <body class="text-center">
        <main class="form-signin">
            <form method="post" action="/wonderadmin/login">
                <img class="mb-4" src="../../static/assets/img/index/wonder2021-Black.webp" th:src="@{~/assets/img/index/wonder2021-Black.webp}" alt="wonder2021" height="57" />
                <div th:if="${error}" th:text="${msg}" class="alert alert-danger" role="alert"></div>
                <div class="form-floating">
                    <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus />
                    <label for="username" class="sr-only">用户名</label>
                </div>
                <div class="form-floating">
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required />
                    <label for="password" class="sr-only">密码</label>
                </div>
                <input th:name="${_csrf.parameterName}" name="_csrf" type="hidden" th:value="${_csrf.token}" value="TOKEN" />
                <button class="w-100 btn btn-lg btn-primary" type="submit">登录</button>
                <p class="mt-5 mb-3 text-muted">CopyRight Wonder &copy; 2021</p>
            </form>
        </main>
    </body>
</html>
