<!DOCTYPE html>
<html lang="zh_CN">
	<head th:replace="fragments :: common_header(~{::.primate},~{::title},~{::.comcss},~{::.pricss},~{::.initjson},~{::.comjs},~{::.prijs})">
		<meta name="description" th:content="${blogDetails.summary}" class="primate" />
		<title th:text="|${blogDetails.title} - I'm Wonder|">Title - I'm Wonder</title>
		<link rel="stylesheet" href="/assets/css/public/github-markdown.css" class="comcss" />
		<link rel="stylesheet" href="/assets/css/public/highlight/googlecode.css" class="comcss" />
		<link rel="stylesheet" href="/assets/css/blog/blogDetails.css" class="pricss" />
		<script th:inline="JavaScript" class="initjson">
			window.isRobot = /*[[${isRobot}]]*/ false;
			window.bgList = /*[[${bgList}]]*/ [];
			/*[[${tagList}]]*/

			window.tagList = [
				{ text: "SpringMVC", weight: 10, link: "#" },
				{ text: "Tomcat", weight: 11, link: "#" },
				{ text: "LinkedList", weight: 34, link: "#" },
				{ text: "BankOS", weight: 5, link: "#" },
				{ text: "Web", weight: 15, link: "#" },
				{ text: "Java", weight: 7, link: "#" },
				{ text: "JavaScript", weight: 20, link: "#" },
				{ text: "Html", weight: 8, link: "#" },
				{ text: "CSS", weight: 6, link: "#" },
			];
			window.blogDetails = /*[[${blogDetails}]]*/ "";
		</script>
		<script src="/assets/js/public/highlight-10.1.2.min.js" class="comjs"></script>
		<script src="/assets/js/public/marked-1.1.0.js" class="comjs"></script>
		<script src="/assets/js/blog/blogDetails.js" class="prijs"></script>
	</head>
	<body th:class="${isRobot}?'':'loading'">
		<th:block th:replace="fragments :: loading" />

		<th:block th:replace="fragments :: nav('/')" />
		<div class="content">
			<th:block th:replace="fragments :: coverbox" />
			<section id="home" class="container clearfix">
				<th:block th:replace="fragments :: news" />
				<ul class="blog-list fl">
					<li th:object="${blogDetails}" class="blog-card clearfix">
						<div class="blog-content markdown-body">
							<h1 th:text="*{title}"></h1>
							<div th:text="*{summary}"></div>
						</div>

						<ul class="blog-tag-list">
							<li class="blog-tag hvr-grow-rotate">
								<span class="iconfont icon-date"></span>
								<span th:text="*{#dates.format(postTime,'yyyyMMdd')}">20190628</span>
							</li>
							<li th:each="tag : *{tags}" class="blog-tag hvr-grow-rotate">
								<span th:class="|iconfont icon-${tag.icon}|" class="iconfont icon-tag"></span>
								<span th:text="${tag.name}">SpringMVC</span>
							</li>
							<li class="blog-tag hvr-grow-rotate">
								<span class="iconfont icon-read-num"></span>
								<span th:text="*{read}">2342323</span>
							</li>
						</ul>
					</li>
				</ul>
			</section>
			<th:block th:replace="fragments :: footer" />
		</div>
	</body>
</html>
