@charset "utf-8";

.blog-content{
    text-align: left;
}


.blog-tag-list{
    margin-top: 3em;   
}

.markdown-body h1, .markdown-body h2{
    border-bottom: 1px solid #697079 !important;
}

.markdown-body .highlight pre, .markdown-body pre {
    background-color: #d6fbd087 !important;
}

@media screen and (max-width: 500px) {
    .blog-content{
        font-size: 1.3rem;
    }
}