@charset "utf-8";

html.gray {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
}

.nav {
    box-sizing: border-box;
    width: 100%;
    height: 5rem;
    padding: 0 2rem;
    vertical-align: middle;
    word-spacing: -1rem;
    z-index: 10;
    cursor: pointer;
}

.nav > * {
    word-spacing: 1rem;
}

.nav > .nav-title {
    line-height: 5rem;
    font-size: 2.6rem;
}

.nav > .nav-group {
    display: block;
    height: 100%;
    line-height: 5rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.nav-btn {
    display: inline-block;
    box-sizing: border-box;
    height: 100%;
    vertical-align: top;
    text-align: center;
    font-size: 1.5rem;
    line-height: 5rem;
    cursor: pointer;
}

.nav-mobile-btn {
    display: inline-block;
    box-sizing: border-box;
    width: 5rem;
    height: 100%;
    vertical-align: top;
    text-align: center;
    font-size: 1.5rem;
    line-height: 5rem;
}

.nav-btn.nav-btn-md {
    width: 8rem;
}

.flow-menu {
    position: relative;
    display: inline-block;
    height: 100%;
    padding: 0 2rem;
    text-align: center;
    cursor: pointer;
}

.flow-menu:hover > .flow-list,
.flow-list:hover {
    display: block;
}

.flow-list {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: rgba(57, 61, 73, 0.7);
    cursor: pointer;
}

.menu-list-item {
    height: 5rem;
    padding-left: 3rem;
    font-size: 2rem;
    line-height: 5rem;
    cursor: pointer;
    transition: 0.5s;
    transition-property: background-color;
}

.menu-list-item:hover {
    background-color: #4e5465;
}

.menu-list-item.parents-list {
    height: auto;
    padding-left: 0;
}

.menu-list-item.parents-list:hover {
    background-color: #393d49;
}

.menu-list-item > .parents-title {
    padding-left: 3rem;
}

.menu-list-item > .parents-title:hover {
    background-color: #4e5465;
}

.menu-list-item > .menu-list-tag {
    display: block;
    cursor: pointer;
}
.menu-list-item > .menu-children-list {
    height: 0;
    overflow: hidden;
    transition: 0.3s;
    transition-property: height;
}