/*
 * @Author: Wonder2019 
 * @Date: 2020-07-10 17:17:29 
 * @Last Modified by: Wonder2019
 * @Last Modified time: 2020-08-19 19:27:20
 */
@charset "utf-8";
body {
	overflow: hidden;
}

a{
	text-decoration: none !important;
}

.main-header {
	font-size: 2rem;
	height: 2.5em;
	line-height: 2.5em;
}

.logo {
	display: block;
	float: left;
	width: 12em;
	height: 5rem;
	background-color: #357ca5;
	text-align: center;
	color: #fff;
}

.logo-mini {
}

.logo-lg {
}

.nav {
	display: block;
	margin-left: 12em;
	background-color: #3c8dbc;
}
.main-sidebar {
	font-size: 2rem;
	float: left;
	height: 100%;
	width: 12em;
	background-color: #222d32;
}

/* .sidebar {
} */

.user-panel {
}

.sidebar-menu {
	margin-top: 2rem;
}

.sidebar-menu-item{
	position: relative;
	box-sizing: border-box;
	height: 4rem;
	padding-left: 2rem;
	border-top: 1px solid #ccc;
	line-height: 4rem;
	color: #fff;
	word-spacing: 1rem;
	font-size: 1.8rem;
}

.main-content {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    margin: 0 0 0 24rem;
    padding-bottom: 9.5rem;
    background-color: #ecf0f5;
}

.main-content-iframe{
    height: 100%;
    width: 100%;
}

.main-footer {
    position: absolute;
    box-sizing: border-box;
    font-size: 1.8rem;
    bottom: 5rem;
    height: 2.5em;
    width: 100%;
    padding-left: 0.5em;
    line-height: 2.5em;
    background-color: #fff;
}


.hvr-leftline-reveal:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: #2098D1;
    width: 4px;
    -webkit-transform: translateY(4px);
    transform: translateX(-4px);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-leftline-reveal:hover:before, .hvr-leftline-reveal.focus:before, .hvr-leftline-reveal:active:before {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}